
<app-road [road_map]="[1,2,3,4]" [road_step]="2"></app-road>

<div class="container">
 
    <div class="row mt-4">
        <div class="col-10">
            <p *ngIf="typeOperation == 'Buy'">TuCambistaOnLine le transferirá el monto de: <strong>{{ targetAmount | currency:'Bs. '}} Bolivianos</strong> a la Cuenta:</p>
            <p *ngIf="typeOperation == 'Sale'">TuCambistaOnLine le transferirá el monto de: <strong>{{ targetAmount | currency }} Dolares Americanos</strong> a la Cuenta:</p>
        </div>
        <div class="col-2">
            <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-placement="top" title="Crea cuenta bancaria"
                        (click)="addAccountBank()">
                <i class="bi bi-plus-circle-fill"></i> Cuenta
            </button>
        </div>
    </div>

    <div *ngIf="customerAccount.length === 0">
        <form (ngSubmit)="onSubmit( fStepTwo )"
                #fStepTwo="ngForm">
                <div class="row mt-1">
                    <div class="col">
                        <div class="form-floating">
                        <select [(ngModel)]="targetBank" name="targetBank" class="form-select" id="floatingSelect" aria-label="Floating label select example" required
                                #bank (change)="selectBank(bank.options[bank.options.selectedIndex].text)">
                            <option value="SEL">Seleccione el banco</option>
                            <option *ngFor="let banco of bancos" [value]="banco.BankCode">{{banco.BankName}}</option>
                        </select>
                        <label for="floatingSelect">A que Banco se le transferirá?</label>
                        </div>
                    </div>
                </div>
            
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-floating">
                            <input [(ngModel)]="targetAccount" name="targetAccount" type="text" class="form-control" id="floatingTeEnviamos"
                                    required minlength="6" autocomplete="off">
                            <label for="floatingTeEnviamos">Ingrese número de su Cuenta:</label>
                        </div>
                        <p class="fw-lighter text-muted" style="font-size: 0.8rem">* El usuario es responsable del ingreso correcto de su número de cuenta.</p>
                    </div>
                </div>
            
                <div class="row">
                    <label for="fileQR" class="form-label">O sube el código QR de tu cuenta</label>
                    <input type="file" class="form-control" id="fileQR" (change)="uploadQR($event)" accept="image/png, image/jpeg">
                    <p *ngIf="isNotImage" class="fw-ligther mb-0" style="font-size: 0.8rem; color: red;">El archivo ha subir debe ser una imagen (.png, .jpg, etc.)</p>
                    <p *ngIf="imageLoadError" class="fw-ligther mb-0" style="font-size: 0.8rem; color: red;">Error al cargar el archivo.</p>
                    <p *ngIf="imageLoading" class="fw-ligther mb-0" style="font-size: 0.8rem; color: red;">Cargando Imagen...!!</p>
                </div>
            
                <div class="row mt-2">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="submit" (click)="onPreviousClick()">Anterior</button>
                        <button class="btn btn-primary me-md-2" type="submit" (click)="onNextClick()">Siguiente</button>
                        <!-- <a [routerLink]="['/stepone']" class="btn btn-primary me-md-2" type="button">Anterior</a>
                        <a [routerLink]="['/stepthree']" class="btn btn-primary" type="button">Siguiente</a> -->
                    </div>
                </div>
        </form>
    </div>

    <div *ngIf="customerAccount.length !== 0"> 
        <form (ngSubmit)="onSubmit2( fStepTwo2 )"
            #fStepTwo2="ngForm">
            <div class="row mt-2">
                <div class="col">
                    <div class="form-floating">
                    <select [(ngModel)]="targetAccount" name="targetAccount2" class="form-select" id="targetAccount2" aria-label="Floating label select example" required
                            #account (change)="selectAccount(account.options[account.options.selectedIndex].text)">
                        <option value="SEL">Seleccione una cuenta</option>
                        <option *ngFor="let account of customerAccount" [value]="account.AccountNumber">
                            {{account.AccountNumber}} - {{account.BankName}} : Moneda 
                            <span *ngIf="account.AccountCurrency==='BO'">Bs.</span>
                            <span *ngIf="account.AccountCurrency==='DO'">US$</span>
                        </option>
                    </select>
                    <label for="targetAccount2">A que Cuenta Bancaria se le transferirá?</label>
                    </div>
                </div>
            </div>
    
            <div class="row mt-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="submit" (click)="onPreviousClick()">Anterior</button>
                    <button class="btn btn-primary me-md-2" type="submit" (click)="onNextClick()">Siguiente</button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cuenta Bancaria - Nuevo</h1>
          <button #closebuttonadd type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form autocomplete="off"
                [formGroup]="accountBank">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <select #bank2 name="bankCode" class="form-select" id="bankcode" aria-label="Floating label select example" required
                                        (change)="selectBank2(bank2.options[bank2.options.selectedIndex].text)"
                                        formControlName="BankCode">
                                <option value="SEL">Seleccione un Banco</option>
                                <option *ngFor="let banco of bancos" [value]="banco.BankCode">{{banco.BankName}}</option>
                            </select>
                            <label for="bankcode">Banco</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="form-floating">
                            <select name="accountCurrency" class="form-select" id="accountcurrency" aria-label="Disabled select example" aria-disabled="true"
                                        formControlName="AccountCurrency">
                                <option selected>Seleccion</option>
                                <option value="BO">Bolivianos</option>
                                <option value="DO">Dolares Americanos</option>
                            </select>
                            <label for="accountcurrency">Moneda de la Cuenta</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="accountnumber"
                                        formControlName="AccountNumber" autocomplete="off">
                            <label for="accountnumber">Cuenta Número</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="activeaccount"
                                        formControlName="Active">
                            <label class="form-check-label" for="activeaccount">
                                Activo
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="saveAccount()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
