<div class="container">
  <app-navbar></app-navbar>
    
  <div class="container text-center">
    <h2>Realizar Operación</h2>
    <hr>
  </div>
  
  <router-outlet></router-outlet>
    
  <app-footer></app-footer>
</div>
