<div class="container">
    <app-navbar></app-navbar>
    
    <div class="container text-center">
      <h2>Perfil de Usuario</h2>
      <hr>
    </div>

    <router-outlet></router-outlet>
      
    <app-footer></app-footer>
</div>
