.circle-active{
    height:35px;
    width:35px;
    background:blueviolet;
    color: white;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    border: solid 1px black;
 }

 .circle{
    height:35px;
    width:35px;
    background:white;
    color: black;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    border: solid 1px black;
 }