<div class="row justify-items-center">
    <div *ngFor="let road of road_map let i = index" class="col-3 d-flex justify-content-center">
      <div [ngClass]="(road_step === road)?'circle-active text-center':'circle text-center'">
        <strong>{{road}}</strong>
      </div>
    </div>
</div>

