<!-- <header class="header">
    <img class="header__img" src="./assets/images/logo-platzi-video-BW2.png" alt="Logo">
    <div class="header__menu">
        <div class="header__menu--profile">
            <img src="./assets/images/user.png" alt="User">
            <p>Perfil</p>
        </div>
        <ul>
            <li><a href="/">Cuenta</a></li>
            <li><a href="/">Cerrar Sesion</a></li>
        </ul>
    </div>
</header> -->

<section class="login">
    <section class="login__container">
        <h2>Registrarse</h2>
        <form class="login_container--form"
            autocomplete="off"
            [formGroup]="registerForm"
            (ngSubmit)=createUser()>
            <input class="input2" type="text" name="nameComplete" id="namecomplete" placeholder="Tú nombre completo"
                formControlName="nameComplete">
            <input class="input2" type="text" name="correo" id="correo" placeholder="Tú correo"
                formControlName="eMail">
            <input class="input2" type="password" name="contrasenia" id="contrasenia" placeholder="Tú Contraseña"
                formControlName="password">
            <input class="input2" type="password" name="confirmPass" id="confirmPass" placeholder="Repite la Contraseña"
                formControlName="confirmPass">
            <button type="submit" class="button">Registrarse</button>
            <!-- <div class="login_container--remember-me">
                <label>
                    <input type="checkbox" name="recuerdame" id="recuerdame" value="checkbos">Recuerdame
                </label>
                <a href="/">Olvide mi contraseña</a>
            </div> -->
        </form>
        <section class="login__container--social-media">
            <div>
                <img src="./assets/images/google-icon.png" alt="Google">Registrarse con Google
            </div>
            <div>
                <img src="./assets/images/twitter-icon.png" alt="Twitter">Registrarse con Twitter
            </div>
        </section>
        <p class="login__container--register">Ya tienes cuenta <a [routerLink]="['/auth/login']" >Inicia sesion</a></p>
    </section>
</section>
<footer class="footer">
    <a href="/">Terminos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de ayuda</a>
</footer>
