
<app-road [road_map]="[1,2,3,4]" [road_step]="4"></app-road>

<div class="container">

    <div *ngIf="!imageLoad" class="row mt-4">
      <p *ngIf="typeOperation == 'Buy'">Muchas gracias por usar el servicio de <strong><i>TuCambistaOnline</i></strong>, verificada la transacción Nro. <strong>{{ transactionNumber }}</strong>, se procedera a transferirle <strong>{{ amountTarget | currency:'Bs. ' }}</strong>
        <strong> {{ bankCurrencyTarget }}</strong> a la cuenta Nro. <strong>{{ bankAccountTarget }}</strong> del <strong>{{ bankNameTarget }}</strong>.
      </p>
      <p *ngIf="typeOperation == 'Sale'">Muchas gracias por usar el servicio de <strong><i>TuCambistaOnline</i></strong>, verificada la transacción Nro. <strong>{{ transactionNumber }}</strong>, se procedera a transferirle <strong>{{ amountTarget | currency }}</strong>
        <strong> {{ bankCurrencyTarget }}</strong> a la cuenta Nro. <strong>{{ bankAccountTarget }}</strong> del <strong>{{ bankNameTarget }}</strong>.
      </p>
    </div>

    <div *ngIf="imageLoad" class="row mt-4">
      <p *ngIf="typeOperation == 'Buy'">Muchas gracias por usar el servicio de <strong><i>TuCambistaOnline</i></strong>, verificada la transacción Nro. <strong>{{ transactionNumber }}</strong>, se procedera a transferirle <strong>{{ amountTarget | currency:'Bs. ' }}</strong>
        <strong> {{ bankCurrencyTarget }}</strong>. Se usara la imagen QR cargada para realizar la transferencia.
      </p>
      <p *ngIf="typeOperation == 'Sale'">Muchas gracias por usar el servicio de <strong><i>TuCambistaOnline</i></strong>, verificada la transacción Nro. <strong>{{ transactionNumber }}</strong>, se procedera a transferirle <strong>{{ amountTarget | currency }}</strong>
        <strong> {{ bankCurrencyTarget }}</strong>. Se usara la imagen QR cargada para realizar la transferencia.
      </p>
    </div>

    <div class="text-center" *ngIf="procesing">
      <button class="btn btn-primary text-nowrap" disabled type="button">
        <span class="spinner-border spinner-border-sm mr-2"></span>
        Procesando Transaccion ...
      </button>
    </div>

    <div class="row mt-4">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a [routerLink]="['/step/one']" class="btn btn-primary" type="button">Cancelar</a>
            <a class="btn btn-primary" type="button"
                    (click)="saveTransaction()"
            >Confirmar y Finalizar</a>
        </div>
    </div>
</div>