<div class="container">
    <button type="button" class="btn btn-info"
            data-bs-toggle="modal"
            data-bs-target="#addAccount"
            (click)="insertAccount()">
            <i class="bi bi-plus-square"></i> Nuevo
    </button>
    <div class="row">
        <table class="table table-striped table-hover align-middle mt-2">
            <thead>
              <tr>
                <th scope="col" class="text-center">Banco</th>
                <th scope="col" class="text-center">Moneda</th>
                <th scope="col" class="text-center">Número de Cuenta</th>
                <th scope="col" class="text-center">Estado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let account of customerAccount">
                <!-- <th>Banco Union</th> -->
                <td>{{account.BankName}}</td>
                <td>
                    <div *ngIf="account.AccountCurrency == 'BO'" class="text-center">
                        Bolivianos
                    </div>
                    <div *ngIf="account.AccountCurrency == 'DO'" class="text-center">
                        Dolares Americanos
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        {{account.AccountNumber}}
                    </div>
                </td>
                <td style="vertical-align: center; text-align: center;">
                    <div >
                        <i *ngIf="!account.Active" class="bi bi-x-square"></i>
                        <i *ngIf="account.Active" class="bi bi-check2-square"></i>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#editAccount"
                                (click)="editAccount(account)"
                                >
                            <i class="bi bi-pen"></i>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="disableAccount(account)"><i class="bi bi-trash"></i></button>
                    </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary" (click)="cancelAccount()">Cancelar</button>
    </div>
   

    <!-- Modal de Edicion de Cuenta Bancaria -->
    <div class="modal fade" id="editAccount" 
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
        aria-labelledby="editAccountLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAccountLabel">Cuenta Bancaria - Modifica</h1>
                    <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off"
                        [formGroup]="accountBank">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <select #bank name="bankCode" class="form-select" id="bankcode" aria-label="Floating label select example" required
                                                (change)="selectBank(bank.options[bank.options.selectedIndex].text)"
                                                formControlName="BankCode">
                                        <option value="SEL">Seleccione un Banco</option>
                                        <option *ngFor="let banco of bancos" [value]="banco.BankCode">{{banco.BankName}}</option>
                                    </select>
                                    <label for="bankcode">Banco</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="form-floating">
                                    <select name="accountCurrency" class="form-select" id="accountcurrency" aria-label="Floating label select example" required
                                        formControlName="AccountCurrency">
                                        <option value="BO">Bolivianos</option>
                                        <option value="DO">Dolares Americanos</option>
                                    </select>
                                    <label for="accountcurrency">Moneda de la Cuenta</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="accountnumber"
                                            formControlName="AccountNumber" autocomplete="off">
                                    <label for="accountnumber">Cuenta Número</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="activeaccount"
                                        formControlName="Active">
                                    <label class="form-check-label" for="activeaccount">
                                        Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="updateAccount()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de ingreso de Cuenta Bancaria -->
    <div class="modal fade" id="addAccount" 
            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
            aria-labelledby="addAccountLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editAccountLabel">Cuenta Bancaria - NUevo</h1>
                    <button type="button" #closebuttonadd class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off"
                        [formGroup]="accountBank">
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <select #bank2 name="bankCode" class="form-select" id="bankcode" aria-label="Floating label select example" required
                                                (change)="selectBank(bank2.options[bank2.options.selectedIndex].text)"
                                                formControlName="BankCode">
                                        <option value="SEL">Seleccione un Banco</option>
                                        <option *ngFor="let banco of bancos" [value]="banco.BankCode">{{banco.BankName}}</option>
                                    </select>
                                    <label for="bankcode">Banco</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="form-floating">
                                    <select name="accountCurrency" class="form-select" id="accountcurrency" aria-label="Floating label select example" required
                                                formControlName="AccountCurrency">
                                        <option value="BO">Bolivianos</option>
                                        <option value="DO">Dolares Americanos</option>
                                    </select>
                                    <label for="accountcurrency">Moneda de la Cuenta</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="accountnumber"
                                                formControlName="AccountNumber" autocomplete="off">
                                    <label for="accountnumber">Cuenta Número</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="activeaccount"
                                                formControlName="Active">
                                    <label class="form-check-label" for="activeaccount">
                                        Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="saveAccount()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>
