
<app-road [road_map]="[1,2,3,4]" [road_step]="1"></app-road>

<div class="container">

  <div class="row mt-2">
      <div class="col align-middle mb-0">
          <h2 class="mb-0">¿Qué quiere hacer?</h2>
      </div>
      <div class="col-6">
        <p class="text-center fs-6 mb-0">Tipo de cambio del Dólar Americano hoy en Bolivia</p>
        <p class="text-center fs-6 mt-0 mb-0">Compra: <strong><u>{{exchange.BuyMoney}}</u></strong> | Venta: <strong><u>{{exchange.SaleMoney}}</u></strong></p>
      </div>
  </div>
  
  <form
        (ngSubmit)="onSubmit( fStepOne )"
        #fStepOne="ngForm">
    <div class="row justify-items-center">
      <div class="col-auto d-flex justify-content-center p-0">
          <button (click)="changeCurrency()" type="button" class="btn btn-outline-info">
            <i class="bi bi-arrow-down-up" style="font-size: 2.5rem; color: cornflowerblue;"></i>
          </button>
      </div>
    
      <div class="col-11 p-0">

        <div class="col-auto mb-1">
          <!-- <label class="visually-hidden" for="autoSizingInputGroup">Username</label> -->
          <div class="input-group">
            <div class="form-floating">
              <input type="number" [(ngModel)]="youSend" class="form-control" id="floatingTuEnvias" name="youSend" required 
                      (keyup)="sendValue($event)" style="width:150px; color:red" autocomplete="off">
              <label for="floatingTuEnvias" style="color: darkcyan;">Tú envias</label>
            </div>
            <div class="input-group-text text-muted" style="width:96px">{{currencyTo}}</div>
          </div>
        </div>

        <div class="col-auto">
          <!-- <label class="visually-hidden" for="autoSizingInputGroup">Username</label> -->
          <div class="input-group">
            <div class="form-floating">
              <input [(ngModel)]="youGet" type="number" class="form-control" id="floatingTeEnviamos" name="youGet" required
                      #valueGet (keyup)="getValue(valueGet.value)" style="width:150px; color:blue" autocomplete="off">
              <label for="floatingTeEnviamos" style="color: darkcyan;">Tú recibes</label>
            </div>
            <!-- <input type="number" class="form-control" id="autoSizingInputGroup" value="691.5"> -->
            <div class="input-group-text text-muted" style="width:96px;">{{currencyFrom}}</div>
          </div>
        </div>
      </div>
      <p class="fw-lighter text-muted p-0 m-0" style="font-size: 0.8rem">* Recuerda que no aceptamos depósitos en efectivo.</p>
    </div>

    <div class="row mt-4">
      <div class="col p-0">
        <div class="form-floating">
          <select [(ngModel)]="sourceBank" name="sourceBank" class="form-select" id="floatingSelect" aria-label="Floating label select example" required
                  #bank (change)="selectBank(bank.options[bank.options.selectedIndex].text)">
            <option value="SEL">Seleccione un banco</option>
            <option *ngFor="let banco of bancos" [value]="banco.BankCode">{{banco.BankName}}</option>
          </select>
          <label for="floatingSelect">Desde que Banco realizará la transfencia?</label>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="submit">Siguiente</button>
        <!-- <a [routerLink]="['/steptwo']" class="btn btn-primary" type="button">Siguiente</a> -->
      </div>
    </div>
  </form>
  
</div>