
<app-road [road_map]="[1,2,3,4]" [road_step]="3"></app-road>

<div class="container">

  <form (ngSubmit)="onSubmit( fStepThree )"
        #fStepThree="ngForm">
    <div class="row">
      <div class="col-9">
        <div class="row mt-4">
            <p *ngIf="typeOperation == 'Buy'">Debe realizar la transferencia de <strong>{{ sourceAmount | currency }} {{ sourceCurrency_literal }}</strong>, a la Cuenta Nro: <strong>{{ accountCompany }}</strong>
                del <strong>{{ bankNameCompany }}</strong> a nombre de: <strong><i>TuCambistaOnLine</i></strong>. Puede usar la imagen del QR para realizar la transferencia.</p>
            <p *ngIf="typeOperation == 'Sale'">Debe realizar la transferencia de <strong>{{ sourceAmount | currency:'Bs. ' }} {{ sourceCurrency_literal }}</strong>, a la Cuenta Nro: <strong>{{ accountCompany }}</strong>
              del <strong>{{ bankNameCompany }}</strong> a nombre de: <strong><i>TuCambistaOnLine</i></strong>. Puede usar la imagen del QR para realizar la transferencia.</p>
        </div>
            
        <div class="row">
          <p class="mb-0">Ingresar el número de transacción</p>
          <div class="col">
            <div class="form-floating">
                <input [(ngModel)]="transactionNumber" name="transactionNumber" type="text" class="form-control" id="floatingTeEnviamos" required
                        minlength="6" autocomplete="off">
                <label for="floatingTeEnviamos">Número de Transacción:</label>
            </div>
            <p class="fw-lighter text-muted" style="font-size: 0.8rem">* El número de la transacción debe corresponde con el número de la transacción realizada en su banco.</p>
          </div>
        </div>
      </div>
  
      <div class="col-3 imagen">
        <!-- <img src="../../../assets/QRBancoGanadero-Dolares.png" alt="QR Code"> -->
        <img [src]="imageURL | async" alt="QR imagen">
      </div>
    </div>

    <div class="row mt-4">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="submit" (click)="onPreviousClick()">Anterior</button>
        <button class="btn btn-primary me-md-2" type="submit" (click)="onNextClick()">Siguiente</button>
        <!-- <a [routerLink]="['/steptwo']" class="btn btn-primary me-md-2" type="button">Anterior</a>
        <a [routerLink]="['/stepfour']" class="btn btn-primary" type="button">Siguiente</a> -->
      </div>
    </div>
  </form>
</div>
