<footer class="footer bg-light">
    <div class="container">
      <div class="d-flex justify-content-between">
        <a class="navbar-brand col" href="#">
          <img src="../../../assets/images/TuCambistaOnline.png" alt="Bootstrap" width="150" height="24">
        </a>
        <div>
          Contactanos: 75603040
        </div>
      </div>
    </div>
</footer>
