<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">TuCambistaOnline</a> -->
      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/TuCambistaOnline.png" alt="Bootstrap" width="150" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <!-- <div class="d-flex"> -->
          <ul class="navbar-nav">
          <!-- <ul class="nav justify-content-end"> -->
            <li class="nav-item dropdown">
              <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{userName}}
              </button>
              <ul class="dropdown-menu dropdown-menu-light">
                <li><a class="dropdown-item" [routerLink]="['/others/bankaccount']">Cuentas Bancarias</a></li>
                <li><a class="dropdown-item" [routerLink]="['/others/profile']">Perfil</a></li>
                <li><a class="dropdown-item" (click)="logoutUser()">Logout</a></li>
                <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>
          </ul>
        <!-- </div> -->
      </div>



      <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/others/profile']">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" style="cursor:pointer" (click)="logoutUser()">Logout</a>
          </li>
        </ul>
      </div> -->
    </div>
</nav>
